.benefits__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.benefits__list {
  margin: 0;
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.benefits__item {
  background-color: $color-grey-300;
  color: $color-black;
  padding: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 52px;
    margin-bottom: 30px;
  }
}

.benefits__title {
  position: relative;
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 80px;
  color: $color-black;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
  }
}

.benefits__title--icon::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: url(../img/icon/cat_back.svg);

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    background: no-repeat;
  }
}
// запуталась и не знаю как правильней поставить кота в платншетной и десктопной версии

.benefits__title--icons::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 67px;
  height: 50px;
  background: url(../img/icon/cat_back2.svg);
}

.benefits__description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    padding-top: 24px;
    padding-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    border-bottom: none;
  }
}

.benefits__link {
  display: block;
  font-family: $oswald;
  color: $color-black;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  padding-top: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 52px;
  }
}

.benefits__icon {
  margin-left: 15px;
}
