.checkbox {
  display: flex;
  position: relative;
  align-items: center;
}

.checkbox::before {
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #cdcdcd;
}

.checkbox__input {
  position: absolute;
  width: 30px;
  height: 30px;
}

.checkbox__input[type="checkbox"]:checked + .form-options__control-mark {
  background-image: url("../img/icon/check.svg");
}
