.copyright {
  display: grid;
  grid-template-columns: 115px 1fr;
}

.copyright__text {
  grid-column: 1 / 2;
  justify-self: start;
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-600;
}

.copyright__link {
  grid-column: 2 / 3;
  justify-self: end;
}
