.copyright {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-600;
  text-align: center;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }
}
