.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 22px 0;
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-600;
  margin: 0;
}
