.field {
  display: flex;
}

.field__input {
  color: $color-grey-600;
  text-transform: uppercase;
  min-height: 45px;
  padding-left: 15px;
  border: 1px solid #e7e7e7;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  width: 150px;
  flex-grow: 1;
}

.field__label {
  align-self: center;
  margin-right: 12px;
}

.field__textarea {
  width: 100%;
  min-height: 150px;
  margin-bottom: 22px;
  padding-top: 9px;
}
