.form-options {
  position: relative;
  z-index: 0;
}

.form-options__list {
  color: $color-black;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form-options__field {
  display: flex;
}

.form-options__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  padding-bottom: 34px;
  padding-left: 100px;
  padding-right: 14px;
  background-color: $color-white;
  margin-left: -100px;
  margin-right: 3px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 55px;
  }
}

.form-options::before {
  content: "";
  position: absolute;
  width: 100vw;
  background-color: $color-green-1000;
  height: 2px;
  align-self: center;
  top: -45px;
  left: -50px;
  z-index: -1;
}

.form-options__item {
  margin-bottom: 13px;
}

.form-options__control-label {
  margin-left: 16px;
}

.form-options__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $color-grey-100;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}
