.form-group--contacts {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.form-group__title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
  text-transform: none;
  padding-bottom: 35px;
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.form-group__inner {
  margin-bottom: 14px;
  margin-top: 0;
  color: $color-grey-600;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-group__field {
  align-self: center;
  margin-right: 8px;
}

.form-group__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  display: block;
  text-align: center;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin-left: 61px;
    padding: 0;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.form-group__inner-button {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 72px;
  }
}

.form-group__button {
  margin-bottom: 21px;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 282px;
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    max-width: 568px;
  }
}

.form-group__field--comment {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  margin-left: -60px;
  padding-left: 40px;
}

.form-group__field--comment::before {
  content: "";
  position: absolute;
  width: 100vw;
  background-color: $color-green-1000;
  height: 2px;
  align-self: center;
  top: 15px;
  left: -50px;
  z-index: -1;
}

.form-group__title--field {
  position: relative;
  background-color: $color-white;
  margin-left: -60px;
  padding-left: 40px;
}

.form-group__title--field::before {
  content: "";
  position: absolute;
  width: 100vw;
  background-color: $color-green-1000;
  height: 2px;
  align-self: center;
  top: 15px;
  left: -50px;
  z-index: -1;
}
