.map {
  background-color: $color-grey-300;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
  }
}

.map__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    min-height: 400px;
  }
}

.map__box {
  display: flex;
  padding: 26px 0;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0;
    padding-bottom: 56px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 565px;
    padding: 56px 80px;
    z-index: 1;
    background-color: $color-white;
    top: 95px;
  }
}

.map__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-900;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }
}

.map__address {
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-600;
  margin: 0 0 0 10px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-align: right;
    max-width: 160px;
  }
}

.map__container {
  width: 100%;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  }
}

.gm-style .place-card-large {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
// хотела убрать плашку в углу карты
