.map {
  background-color: $color-grey-300;
}

.map__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-900;
  text-transform: uppercase;
  margin: 0;
}

.map__address {
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-600;
  margin: 0;
}
