.present {
  background-image: url("../img/background/present.png");
  background-repeat: no-repeat;
  color: $color-white-1000;
  background-color: rgba(104, 183, 56, 0.85);
  font-size: 16px;
  line-height: 20px;
}
