.present {
  background-image: url("../img/background/present_cat.png");
  background-repeat: no-repeat;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 289px;
  margin-top: 35px;
  padding-top: 186px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-right: 194px;
    padding-left: 422px;
    padding-top: 71px;
    padding-bottom: 69px;
    width: 707px;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 245px;
    padding-top: 185px;
    padding-right: 43px;
    padding-bottom: 42px;
    padding-left: 41px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
