.product-card__title {
  font-family: $oswald;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-grey-700;
}

.product-card__specifications {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-600;
}

.product-card__specifications-meaning {
  margin: 0;
}
