.slogan__wrapper {
  background-image: url("../img/background/index-katenergy.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.slogan__title {
  font-family: $oswald;
  color: $color-white;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  padding-right: 35px;
  padding-left: 36px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
    padding-top: 62px;
    padding-right: 100px;
    padding-left: 117px;
    padding-bottom: 41px;
  }
}

.slogan__discription {
  font-family: $oswald;
  // Шрифт жирный
  color: $color-white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 62px;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    font-size: 20px;
    line-height: 20px;
    padding-right: 300px;
    padding-left: 119px;
  }
}

.slogan__button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  max-width: 180px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 49px;
    padding: 14px 26px;
  }
}
