.slogan {
  background-image: url("../img/background/index-background__slogan.png");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  background-position: 50% 0;
  background-size: 320px 302px;
  width: 100%;
  margin: 0 auto;
  order: 2;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $color-white;
    height: 100%;
  }
}

.slogan__wrapper {
  width: 280px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.slogan__title {
  font-family: $oswald;
  color: $color-white;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
    padding-top: 62px;
    padding-right: 100px;
    padding-left: 85px;
    padding-bottom: 41px;
    text-align: start;
  }
}

.slogan__discription {
  font-family: $oswald;
  color: $color-white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    font-size: 20px;
    line-height: 20px;
    padding-right: 300px;
    padding-left: 85px;
    text-align: start;
  }
}

.slogan__button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  max-width: 180px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-left: 0;
    margin-right: 300px;
    margin-bottom: 0;
  }
}
