.slogan__wrapper {
  background-image: url("../img/background/index-katenergy.png");
  background-repeat: no-repeat;
}

.slogan__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.slogan__discription {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

.slogan__button {
  font-size: 14px;
  line-height: 18px;
}

